h1, h2 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.fighter-card {
    display: inline-block;
    margin: 20px;
}

.fighter-portrait {
    width: 200px;
}

.hidden {
    display: none;
}
